<%- include('../partials/head') %>
</head>
<body class="min-h-screen bg-rose-50">
  <%- include('../partials/nav') %>
    <h1 class="text-4xl font-bold text-rose-500 mb-8 text-center mt-8">Signup here</h1>
    <div class="flex justify-center">
      <form action="/reset-password" method="POST" class="w-full max-w-md">
         <%- include('../partials/errorMessages') %>
        <input 
          type="email"
          value="<%= email %>"
          disabled
          class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-rose-500"
        />
        <input 
          type="hidden" 
          name="email"
          value="<%= email %>"
          class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-rose-500"
        />
        <input 
          type="text" 
          name="otp"
          placeholder="Enter OTP"
          class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-rose-500"
        />
        <input 
          type="password" 
          name="password"
          placeholder="New Password"
          class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-rose-500"
        />
        <input 
          type="password" 
          name="confirm_password"
          placeholder="Confirm New Password"
          class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-rose-500"
        />
        <div class="flex justify-center">
          <input 
            type="submit" 
            value="Continue to Save"
            class="bg-green-400 hover:bg-green-500 text-white font-semibold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
          >
        </div>
      </form>
    </div>
  </main>
</body>
</html>